{% extends 'base.html' %}

{% block content %}
    <h1>Tournaments</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Location</th>
        </tr>
        </thead>
        <tbody>
        {% for tournament_day in object_list %}

            <tr>
                <th scope="row">{{ tournament_day.pk }}</th>
                <td>{{ tournament_day }}</td>
                <td>{{ tournament_day.location }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}